* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.HeroSection {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(243, 242, 242);
  gap: 40px;
  .Banner {
    width: 100%;
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .BannerImg {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;

      > div {
        position: relative;
        width: 100%;
        height: 100%;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          opacity: 0;
          animation: ImgsAni 30s infinite ease-in;
          transition: all 0.7s ease;
        }

        .Img1 {
          animation-delay: 0s;
        }

        .Img2 {
          animation-delay: 10s;
        }

        .Img3 {
          animation-delay: 20s;
        }
      }
    }

    .BannerBtns {
      position: absolute;
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      > div {
        display: flex;
        width: 80%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        gap: 2px;
        > h3 {
          background-color: red;
          color: white;
          padding: 3px;
          font-weight: 200;
        }
        > h1 {
          font-size: 35px;
          color: white;
        }
        > button {
          height: 50px;
          font-size: 15px;
          padding: 10px;
          width: 150px;
          border-radius: 30px;
          background-color: blueviolet;
          color: white;
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: all 0.3s ease-in;
          &:hover {
            background-color: white;
            border: 2px solid blueviolet;
            color: blueviolet;
          }
        }
        > p {
          font-size: 14px;
          color: white;
        }
      }
    }
  }
  .Boxs2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 40px;
    > div {
      position: relative;
    }
    .BoxBtns {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: center;

      color: white;

      > div {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        padding-left: 20px;
        gap: 30px;
        > h3 {
          font-weight: 100;
        }
        > h1 {
          font-size: 50px;
        }
        > button {
          /* padding: 10px; */
          font-size: 15px;
          height: 50px;
          width: 120px;
          border-radius: 30px;
          background-color: white;
          color: black;
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: all 0.3s ease-in;
          &:hover {
            background-color: transparent;
            border: 2px solid white;
            color: white;
          }
        }
        > p {
          font-size: 18px;
        }
      }
    }
  }
  .SpecialFeatures {
    display: flex;
    align-items: center;
    padding: 20px;
    > div {
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 20px;
      height: 100%;
      width: 100%;
      > div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        gap: 10px;
        font-weight: 200;
      }
    }
  }
  .Category {
    width: 100%;
    height: auto;
    /* background-color: white; */
    flex-direction: column;
    padding: 20px;
    display: flex;
    align-items: center;
    #shopByCategoryText {
      font-size: 30px;
      font-weight: bold;
      padding: 20px;
      padding-top: 50px;
    }
    > div {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px;
      flex-wrap: wrap;
      gap: 20px;
      background-color: white;
      width: 100%;
      > div {
        margin: 40px;
      }
      height: auto;
      .ImgDiv {
        border-radius: 50%;
        overflow: hidden;
        border: none;

        display: flex;
        justify-content: center;
        img {
          transition: scale 0.4s ease-in-out;
          scale: 1;
          cursor: pointer;
          width: 170px;
          height: 170px;
          &:hover {
            scale: 1.1;
          }
        }
      }
      .text {
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        font-weight: bold;
      }
    }
  }
  .SupportBox {
    width: 25%;
    background-color: white;
    display: flex;
    padding: 20px;
    padding-left: 30px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
    .supportTitle {
      font-size: 12px;
      width: 100%;
      height: 20%;
      display: flex;
      justify-content: flex-start;
      h1 {
        margin-top: 20px;
      }
    }
    .supportContent {
      height: 70%;
      font-size: 18px;
      width: 80%;
      p {
        line-height: 1.5;
        margin: 5px;
      }
    }
  }
}

@keyframes ImgsAni {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  33.3% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
