* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .part2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    width: 250px;
  }
}
@media screen and (max-width: 450px) {
  #Heart {
    display: none;
  }
  #Cart {
    display: none;
  }
}
.ShopOptions {
  width: 100%;
  padding: 10px;
  display: flex;
  background-color: rgb(238, 237, 237);
  align-items: center;
  justify-content: flex-start;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    > p {
      color: rgb(73, 73, 73);
      cursor: pointer;
      transition: color 0.3s ease-in;
      &:hover {
        color: rgb(61, 61, 252);
      }
    }
  }
}
