* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .part2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    width: 250px;
  }
}
@media screen and (max-width: 450px) {
  #Heart {
    display: none;
  }
  #Cart {
    display: none;
  }
}
.ShopOptions {
  width: 100%;
  padding: 15px;
  font-size: 15px;
  display: flex;
  background-color: rgb(245, 243, 243);
  align-items: center;
  justify-content: flex-start;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    .Links {
      color: rgb(73, 73, 73);
      cursor: pointer;
      font-size: 15px;
      font-weight: bold;
      text-decoration: none;
      position: relative;
      &:hover {
        color: rgb(61, 61, 252);
      }
    }
    .Links::after {
      content: "";
      position: absolute;
      background-color: black;
      height: 3px;
      border-radius: 5px;
      width: 0%;
      bottom: -5px;
      left: 0px;
      transition: width 0.2s ease-in;
    }

    .Links:hover::after {
      width: 100%;
    }
  }
}
